<h1 class="text-center my-4">Football Teams</h1>
<div class="row">
  <% @teams.each do |team| %>
    <div class="col-md-4">
      <div class="card mb-3">
        <div class="card-body">
          <h5 class="card-title"><%= link_to team.name, team_path(team) %></h5>
          <p class="card-text"><strong>Country:</strong> <%= team.country %></p>
          <p class="card-text"><strong>Founded:</strong> <%= team.founded_year %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>
