<h1>Players#index</h1>
<p>Find me in app/views/players/index.html.erb</p>
<h1>Football Players</h1>
<ul>
  <% @players.each do |player| %>
    <li><a href="<%= player_path(player) %>"><%= player.name %> - <%= player.position %></a></li>
  <% end %>
</ul>
